html{/*Que todo el documento utilice una fuente diferente jaja*/
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: 'Instrument Serif', serif;
    font-size: larger;
    font-weight: 10;
}